<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/*.ico" security="none"/>
    <security:http pattern="/resources/**" security="none"/>

    <security:http auto-config="true">
        <security:intercept-url pattern="/login"  access="permitAll"/>
        <security:intercept-url pattern="/manager/**" access="hasRole('ADMIN')"/>
        <security:intercept-url pattern="/**" access="hasRole('USER')"/>
        <security:csrf disabled="true"/>

        <security:form-login
            username-parameter="loginID"
            password-parameter="loginPWD"
            login-page="/login"
            default-target-url="/home"
            authentication-failure-forward-url="/login?fail=true"/>
    </security:http>

    <security:authentication-manager>
        <!--<security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
                <security:user name="user" password="user" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>-->
        <security:authentication-provider user-service-ref="userJdbcDao"/>
    </security:authentication-manager>

    <bean id="userJdbcDao" class="kr.huny.site.authentication.site.UserJdbcDaoImpl">
        <property name="dataSource" ref="hikariDataSource"/>
        <property name="rolePrefix" value=""/>
        <property name="usersByUsernameQuery" value="select user_no, email, nickname, pwd, roleType from user where email = ?"/>
        <property name="groupAuthoritiesByUsernameQuery" value="select roleType from user where email = ?"/>
        <property name="enableGroups" value="false"/>
    </bean>
</beans>