<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/*.ico" security="none"/>
    <security:http pattern="/resources/**" security="none"/>

    <security:http auto-config="true">
        <security:access-denied-handler error-page="/403"/>
        <security:intercept-url pattern="/login"  access="permitAll"/>
        <security:intercept-url pattern="/join"  access="permitAll"/>
        <security:intercept-url pattern="/manager/**" access="hasRole('ADMIN')"/>
        <security:intercept-url pattern="/**" access="hasRole('USER')"/>
        <security:csrf disabled="true"/>

        <security:form-login
            username-parameter="loginID"
            password-parameter="loginPWD"
            login-page="/login"
            default-target-url="/home"
            authentication-success-handler-ref="authenticationSuccessHandler"
            authentication-failure-handler-ref="customAuthenticationFailureHandler"
        />
        <!--authentication-failure-forward-url="/login?fail=true"-->
        <security:session-management>
            <security:concurrency-control max-sessions="1" expired-url="/login_duplicate"/>
        </security:session-management>

    </security:http>

    <security:authentication-manager erase-credentials="false">
        <security:authentication-provider ref="customAuthenticationProvider"/>
        <!--<security:authentication-provider user-service-ref="userJdbcDao">-->
            <!--<security:password-encoder base64="true" ref="bCryptPasswordEncoder">-->
                <!--<security:salt-source ref="saltSource"/>-->
            <!--</security:password-encoder>-->
        <!--</security:authentication-provider>-->
    </security:authentication-manager>

    <bean id="shaPasswordEncoder" class="kr.huny.site.common.SHAPasswordEncoder"/>

    <bean id="customAuthenticationProvider" class="kr.huny.site.authentication.site.CustomAuthenticationProvider"/>

    <bean id="userJdbcDao" class="kr.huny.site.authentication.site.UserJdbcDaoImpl">
        <property name="dataSource" ref="hikariDataSource"/>
        <property name="rolePrefix" value=""/>
        <property name="usersByUsernameQuery" value="select user_no, email, nickname, pwd, role from user where email = ?"/>
        <property name="groupAuthoritiesByUsernameQuery" value="select role from user where email = ?"/>
        <property name="enableGroups" value="false"/>
    </bean>

    <bean id="authenticationSuccessHandler" class="kr.huny.site.authentication.site.CustomAuthenticationSuccessHandler">
        <property name="targetUrlParameter" value=""/>
        <property name="useReferer" value="false"/>
        <property name="defaultUrl" value="/home"/>
    </bean>

    <bean id="customAuthenticationFailureHandler" class="kr.huny.site.authentication.site.CustomAuthenticationFailureHandler">
        <property name="loginidname" value="loginID"/>
        <property name="loginpasswordname" value="loginPWD"/>
        <property name="loginredirectname" value="loginRedirect"/>
        <property name="exceptionmsgname" value="securityexceptionmsg"/>
        <property name="defaultFailreUrl" value="/login?fail=false"/>
    </bean>
</beans>